.App {
  text-align: center;
}

.App-header {
  background-color: #1759dd;
  padding: 20px;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.book-item {
  cursor: pointer;
}

.book-item img {
  width: 150px;
  height: auto;
}

.book-detail {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.book-detail img {
  width: 200px;
  height: auto;
}

.book-detail button {
  margin-bottom: 10px;
}

.book-detail a {
  display: block;
  margin-top: 10px;
}