.App {
  text-align: center;
}

header {
  background-color: rgb(40, 44, 52);
  padding: 20px 0;
  color: white;
}

h1 {
  margin: 0;
}

.search-bar {
  margin-top: 20px;
}

.search-bar input {
  padding: 8px;
  margin-right: 10px;
}

.search-bar button {
  padding: 8px 16px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

.main {
  padding: 20px;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.book {
  cursor: pointer;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
}

.book img {
  max-width: 100%;
  height: auto;
}

.book h3 {
  margin: 10px 0;
}

.book p {
  color: grey;
}